.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.logo-img {
  width: 120px;
  height: 120px;
}
.sneaker-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  position: relative;
}
.sneaker-img {
  position: absolute;
  width: 630px;
  height: 270px;
}

.div-colores {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 20px;
  cursor: pointer;
}

/* CARD CAROUSEL  SECTIONS */
.sections-wrapper {
  width: 80%;
  height: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-wrapper {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
.selected {
  border: 2px solid rgb(74, 74, 74);
  color: rgb(74, 74, 74) !important;
  font-weight: bold;
  background: #bfbfbf !important;
}
.sections-img {
  width: 250px;
  height: 110px;
  cursor: pointer;
  transition: transform 150ms ease-in;
}
.sections-img:hover {
  transform: scale(1.1);
}
.sections-name {
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background: #d1d1d1;
  padding: 5px;
  margin: 1px 8px 3px 8px;
  border-radius: 4px;
}
.colors-wrapper {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.colors-img:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 9px 0 rgb(0 0 0 / 19%);
}

.colors-img {
  width: 70px;
  border-radius: 30%;
  border: 1px solid lightgray;
  cursor: pointer;
  margin: 15px;
}
.rec .rec-carousel {
  width: 100%;
}

.cNNJIt {
  opacity: 0.3;
}

.rec.rec-arrow {
  background-color: transparent;
}
.rec.rec-arrow:hover {
  background-color: grey !important;
}
.rec.rec-arrow:focus {
  background-color: grey !important;
}

/* ------- SCREEN 1000px ------- */
/* ------- SCREEN 1000px ------- */
@media screen and (max-width: 1000px) {
  .sneaker-img {
    width: 570px;
    height: 243px;
  }
  .sections-wrapper {
    width: 95%;
  }
  .colors-wrapper {
    width: 95%;
  }
}
/* ------- SCREEN 768px ------- */
/* ------- SCREEN 768px ------- */
@media screen and (max-width: 768px) {
  .logo-wrapper {
    display: none;
  }
  .sneaker-wrapper {
    height: 55%;
  }
  .sneaker-img {
    width: 400px;
    height: 170px;
  }
  .logo-img {
    width: 100px;
    height: 100px;
  }
  .sections-wrapper {
    width: 95%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:focus {
    outline: none;
    box-shadow: none;
    background-color: none;
  }
  .sections-img {
    width: 190px;
    height: 85px;
  }
  .sections-name {
    padding: 1px;
    font-size: 15px;
  }
  .colors-wrapper {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .colors-img {
    width: 55px;
  }
  .rec.rec-slider-container {
    margin: 0px;
  }
  .rec.rec-arrow {
    background-color: transparent;
    border-radius: 0px;
    min-width: 20px;
    width: 25px;
    height: 90px;
    box-shadow: none !important;
  }
}

/* ------- SCREEN 450px ------- */
/* ------- SCREEN 450px ------- */
@media screen and (max-width: 450px) {
  .App {
    justify-content: start;
  }
  .logo-wrapper {
    display: flex;
    height: 15%;
  }
  .logo-img {
    margin-top: 5px;
    width: 90px;
    height: 90px;
  }
  .sneaker-wrapper {
    width: 100%;
    height: 35%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .sneaker-img {
    width: 357px;
    height: 154px;
  }

  .sections-wrapper {
    height: 22%;
  }

  .sections-img {
    width: 140px;
    height: 70px;
  }
  .sections-name {
    padding: 5px;
  }
  .colors-wrapper {
    height: 10%;
  }
  .colors-img {
    width: 60px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape){
  .App {
    display: flex;
    justify-content: start;
   align-items: center;
  }
  .logo-wrapper {
    display: none;
  }
  .sneaker-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .sneaker-img {
    width: 357px;
    height: 154px;
  }
  .sections-wrapper {
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .sections-img {
    width: 130px;
    height: 60px;
  }
  .sections-name {
    padding: 2px;
  }
  .colors-wrapper {
    height: 20%;
    width: 70%;
  }
  .colors-img {
    width: 50px;
  }
}